*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif, Arial;
    min-width: 1200px;
}

li {
    list-style: none;
}

a, li {
    text-decoration: none;
    color: inherit;
}

a, button {
    cursor: pointer;
}

.page-header {
    background-image: url("../images/sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1010px;
}

.page-header-top {
    background-color: #00000060;
    height: 120px;
}

.page-header-top .container {
    height: 120px;
}

.main-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.logo-wrapper {
    color: #fff;
}

.logo-image {
    display: inline-block;
    width: 58px;
    height: 67px;
    font-size: 40px;
    font-weight: bold;
    line-height: 67px;
    background-image: url(../images/Polygon_1.png);
    text-align: center
}

.logo-text {
    font-size: 32px;
}

.text-color {
    color: #18cfab;
}

.main-menu {
    width: 644px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-menu-item {
    line-height: 120px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    color: #b8b8b8;
}

.search-icon {
    font-size: 22px;
}

.main-menu-item:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;
}

.page-header-about {
    /*height: calc(1010px - 120px);*/
    padding-top: 245px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.header-title-wrapper {
    margin-bottom: 145px;
    text-align: center;
}

.header-title {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

.header-text {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin: 45px auto;
    text-transform: uppercase;
}

.header-title-footer {
    font-size: 30px;
    font-weight: lighter;
    color: #d4d4d4;
}

.btn {
    width: 166px;
    height: 61px;
    color: #fff;
    background-color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    box-shadow: 0 -4px #fff;
    background-image: linear-gradient(to bottom, #00000000, #00000020);

}

.page-header-about .btn:first-child {
    margin-right: 28px;
}

.btn:hover {
    background-color: #00cbf6;
}

.btn:active {
    box-shadow: 0 -2px #fff;
    background-image: linear-gradient(to top, #00000000, #00000020);
}

/**
    LOADER
 */

.loader-button-wrapper {
    display: flex;
    justify-content: center;
}

.loader {
    color: #777777;
    height:100%;
    margin: auto;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px #18cfab;
}

@keyframes load {
    0%{
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100%{
        /*         opacity: 1; */
        /*         font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

/**
 Section SKILLS
 */

.skills-section {
    display: flex;
}

.skills-item {
    width: 25%;
    /*height: 374px;*/
    color: #18cfab;
    background-color: #1c2a33;
    border-top: 8px solid #18cfab;
    background-position: center 95px;
    background-image: url("../images/skills/brilliant.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 105px;
}

.skills-item:nth-child(even) {
    background-color: #18cfab;
    color: #fff;
    border-top-color: #fff;
}

.skills-item:nth-child(1) {
    background-image: url("../images/skills/touch.png");
}

.skills-item:nth-child(3) {
    background-image: url("../images/skills/lamp.png");
}

.skills-item:nth-child(4) {
    background-image: url("../images/skills/device.png");
}

.skills-item-text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/**
 TITLE
 */

.section-title {
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 37px;
    font-weight: normal;
}

.section-title-underline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98px;
    margin: 0 auto 70px auto
}

.section-title-underline-element {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.section-title-underline-element:not(:last-child) {
    margin-bottom: 3px;
}

.section-title-underline-element.left {
    align-self: flex-start;
}

.section-title-underline-element.right {
    align-self: flex-end;
}

/**
 Section SERVICES
 */

.services-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.main-tabs {
    display: flex;
    margin-bottom: 20px
}

.main-tabs-list {
    position: relative;
    width: calc(100% / 6);
    height: 75px;
    background-color: #f8fcfe;
    text-align: center;
    padding: 28px 0;
    vertical-align: baseline;
    font-size: 16px;
    border: 1px solid #f2f4f6;
    cursor: pointer;
}

.main-tabs-list:hover {
    background-color: #18cfab;
    color: #fff;

}

.main-tabs-list.active {
    background-color: #18cfab;
    color: #fff;

}

.main-tabs-list.active:after {
    position: absolute;
    left: calc(50% - 12px);
    bottom: -13px;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #18cfab;
}

.main-tabs-content {
    height: 139px;
    margin-bottom: 100px;
}

.main-tabs-content-item {
    display: none;
}

.main-tabs-content-item.active {
    display: flex;
}

.main-tabs-content-item img {
    margin-right: 20px;
}

.main-tabs-content-item p {
    line-height: 24px;
    font-size: 14px;
    color: #777777;
    text-align: justify;
    margin: 0 auto;
}



/**
 PURCHASE SECTION
 */

.purchase-section {
    background-image: url("../images/sections background/section-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.purchase-section-background {
    background-color: #00000078;
    padding: 127px 0;
    text-align: center;
}

.purchase-section-title {
    font-size: 40px;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
}

.purchase-section-title-text {
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 76px;
}

/**
    OUR AMAZING WORK SECTION
 */
.amazing-work-section {
    padding: 97px 0 100px 0;
    background-color: #f8fcfe;
    text-align: center;
}

.amazing-wok-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazing-work-filter {
    height: 58px;
    width: 609px;
    display: flex;
    background-color: #fff;
    margin-bottom: 71px;
    padding: 0;
}

.amazing-work-filter-item {
    border: 1px solid #f5f5f5;
    text-align: center;
    line-height: 58px;
    color: #565656;
    width: calc(100% / 5);
    font-size: 14px;
    cursor: pointer;
}

.amazing-work-filter-item.active {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}

.amazing-work {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 1140px;
    min-height: 623px;
    margin-bottom: 72px;
}

.amazing-work-item {
    overflow: hidden;
    position: relative;
    width: 284px;
    height: 206px;
}

.amazing-work-hover-div {
    padding-top: 46px;
    position: absolute;
    background-color: #f8fcfe;
    left: -100%;
    top: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}

.amazing-work-item:hover .amazing-work-hover-div {
    transform: translate(100%, 100%);
    opacity: 1;
}

.amazing-work-item .fa-search,
.amazing-work-item .fa-link {
    font-size: 15px;
    color: #18cfab;
    padding: 13px;
    margin-bottom: 34px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}

.amazing-work-item .fa-search:hover,
.amazing-work-item .fa-link:hover {
    color: #fff;
    background-color: #18cfab;

}

.amazing-work-hover-div-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18cfab;
    margin-bottom: 14px;
}

.amazing-work-hover-div-text {
    font-size: 12px;
    color: #8a8a8a;
    text-transform: capitalize;
}

/**
    BREAKING NEWS SECTION
 */

.breaking-news-section {
    padding: 85px 0 130px;
}

.news-wrapper {
    display: grid;
    justify-content: center;
    grid-template-rows: 290px 290px;
    grid-template-columns: repeat(4, 263px);
    grid-gap: 45px 28px
}

.news-item {
    position: relative;
}

.news-item img {
    display: block;
}

.news-text {
    padding: 14px 15px 12px;
    border: 1px solid #f3f3f4;
    background-color: #f8fcfe;
}

.news-text-title {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    margin-bottom: 18px;
    transition: all .3s;
}

.news-item:hover .news-text-title {
    color: #18cfab;
}

.news-text-author {
    margin-right: 13px;
}

.news-text-vertical-line {
    margin-right: 9px;
}

.news-text-author,
.news-text-vertical-line,
.news-text-comments {
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
}

.news-date {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    transition: all .3s;
}

.news-item:hover .news-date {
    background-color: #18cfab;
}

.news-date span {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
}

/**
    CLIENT FEEDBACK SECTION
 */

.client-feedback-section {
    padding: 99px 0 104px;
    min-height: 853px;
    background-image: url("../images/sections background/section-3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.client-feedback-section .section-title {
    color: white;
}

.quotes {
    height: 30px;
    background-image: url("../images/quotes.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 44px;
}

.slider-wrapper {
    width: 1095px;
    margin: 0 auto;
}

.sl-one {
    margin: 0 auto 45px auto;
}

.sl-one-item {
    outline: none;
}

.sl-two-item.slick-current img {
    /*-webkit-transform: translateY(-24px);*/
    transform: translateY(-24px);
    border: 1px solid #19cfab;
}

.sl-text {
    margin-bottom: 27px;
}
.sl-desc {
    height: 60px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: lighter;
    color: #bbbbbb;
    margin-bottom: 43px;
}

.sl-author-name {
    text-align: center;
    color: #18cfab;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.sl-author-profile {
    text-align: center;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: lighter;
}

.sl-one-item .sl-photo {
    width: 169px;
    height: 168px;
    margin: 0 auto;
    cursor: pointer;
}

.sl-one .sl-photo img {
    border-radius: 50%;
    width: 149px;
    height: 148px;
    margin: auto;
    box-shadow: 0 0 0 10px #18cfab40;
    border: 3px solid #19cfab;
}

.sl-two {
    width: 480px;
    margin: 0 auto;
}

.sl-two-item {
    padding-top: 27px;
    height: 95px;
    vertical-align: bottom;
    margin-right: 38px;
    outline: none;
    cursor: pointer;
}

.sl-two-item .sl-photo img {
    width: 63px;
    height: 63px;
    box-shadow: 0 0 0 3px #18cfab40;
    border-radius: 50%;
    transition: transform 0.3s ease-out 0.1s;
}

.slick-prev,
.slick-next {
    width: 31px;
    height: 31px;
    top: 60%;
}

.slick-prev:before,
.slick-next:before {
    font-size: 31px;
}

.slick-prev {
    left: -34px;
}

.slick-next {
    right: -34px;
}

/**
    GALLERY OF BEST IMAGES SECTION
 */

.gallery-of-best-images-section {
    height: auto;
    padding: 97px 0 81px;
    background-color: #f8fcfe;
    text-align: center;
}

.best-images {
    height: auto;
    margin: 0 auto 67px;
}

.grid-sizer {
    width: 280px;
}

.grid-item {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.medium-size {
    width: 280px;
}
.big-size {
    width: 560px;
}

.grid-item img {
    animation: visibility 0.5s linear;
    width: 100%;
}

.best-hover-div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: #00000070;
    transition: transform 0.3s ease-out;
}

.grid-item:hover .best-hover-div {
    transform: translate(100%, 0);
}

.best-hover-div .fas {
    margin-right: 5px;
    font-size: 100%;
    padding: 0.5em;
    background-color: #18cfab;
    color: #fff;
    cursor: pointer;
}

.best-hover-div .fas:hover{
    background-color: #00cbf6;
}


/**
    FOOTER
 */

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    background-color: #22353f;
}

.copyright {
    color: #aeaeae;
    font-size: 14px;
    font-weight: lighter;
}

/**
   BUTTON ↑
 */


.btn-to-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 55px;
    height: 55px;
    border: none;
    background-color: #18cfab;
    color:#fff;
    z-index: 999;
    background-image: linear-gradient(to bottom, #00000000, #00000020);
    opacity: 75%;
}

.btn-to-top:hover {
    background-color: #00cbf6;
}

.btn-to-top:active {
    background-image: linear-gradient(to top, #00000000, #00000020);
}




